doctype html
head
    link(rel='stylesheet' href='css/style.css')
    include partials/navHeader
body

    h1 Movie Database


    
    a(href='../movies/') All movies
    br
    a(href='../users/') All users
    br
    a(href='../people/') All People


 

script(src='js/core.js')
    

    